:root {
    --良好: #3c923c;
    --普通: yellow;
    --對敏感族群不健康: orange;
    --對所有族群不健康: red;
    --非常不健康: purple;
    --危害: brown;
    --空: white;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: hsl(0, 100%, 50%);
    border: #333333 2px solid;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 0;
}
